* {
    box-sizing: border-box;
    padding: 0;
}

:root {
    --body-bg-color: #333;
    --text-color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu a {
    position: relative;
    padding: 5px;
    display: block;
}

.menu a::before {
    content: '';
    background-color: yellowgreen;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 1s ease-in-out;
}

.menu a:hover::before {
    transition: 1s ease-in-out;
    transform: scale(1);
}

.menu.to-left a::before {
    transform-origin: right;
}

.menu.center a::before {
    transform-origin: center;
}

.menu.left-right a::before {
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

.menu.left-right a:hover:before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: ease-in-out;
}